*.out
debug*/
.local/
.vscode/

ICBHI_final_database*/
*.wav
*.json
*.webm
*.ogg
*.mp3
*.m4a
*.flac
*.wav.gz
*.wav.tar.gz
*.wav.tar.gz.part

debug*

*.pyc
*.ckpt
*cpython-310*
*.cpython*
*.npy
__pycache__/